<div class="row">
  <div class="small-8 large-4 column panel radius">
    <h3>
      <%= @gallery.name %>
    <br/>
      <small>
        <%= @gallery.description %>
      </small>
    </h3>
  </div>
</div>
<div class="row">
  <div class="small-8 large-4 column panel radius">    
    <div id="cycle-nav">
      <ul>
        <% @pictures.each do |picture| %>
          <li class="th" style="background:url('<%= (picture.image.thumb) %>') no-repeat">
            <div class="overlay">
              <%= link_to ''.html_safe, [picture.gallery, picture], method: :delete, class: 'ui-icon ui-icon-trash left' %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-8 large-4 column panel radius">
    <ul class="stack-for-small button-group radius">
      <li><%= link_to 'Tillbaka till bildspelen', galleries_path, :class => 'button tiny', :style => 'opacity:1;' %></li>
      <li><%= link_to 'Visa bildspel', gallery_path, class: 'button tiny' %></li>
    </ul>
  </div>
</div>
  