<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "lennart" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h3>lennart</h3>
        </li>
      </ul>
    </nav>
    <div class="row">
      <div class="large-3 columns">
      </div>
      <div class="large-6 columns">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
      <div class="large-3 columns">
      </div>
    </div>
  </body>
</html>